@model MVC.Models.GoodsDonation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GoodsDonation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donatorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donatorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.goodsCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.goodsCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOfItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOfItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.goodsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.goodsDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.goodsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
